<!-- Features section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/customization.png` | relURL }}" alt="Customization" width=200 height=200>
        <h2 class="h2">Customizable Styling<small class="d-none">🛡️</small></h2>
        <p>Allows user to change a webpage's visual features based on their own preferences.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/colorblind.png` | relURL }}" alt="Colorblindness" width=200 height=200>
        <h2 class="h2">Colorblindness Support<small class="d-none">🚀</small></h2>
        <p>Offers a special option for those who have protanopia, deuteranopia, or tritanopia.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/size_color.png` | relURL }}" alt="Size/color" width=200 height=200>
        <h2 class="h2">Breadth of Options<small class="d-none">📈</small></h2>
        <p>Supports customization of numerous features: font size, spacing, font type, text color, and background color.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">General Compatibility<small class="d-none">🦉</small></h2>
        <p>Works with most standard websites.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Intuitive Interface<small class="d-none">✨</small></h2>
        <p>Provides easy-to-use sliders and color wheels for changing visual features.</p>
    </div>
</div>
